:root {
  --color1: #ffff;
  --color2: #212429;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: url("./asset/fonts/montserrat-regular-webfont.woff2") format("woff2");
  font-weight: 400; /*para Regular*/
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./asset/fonts/montserrat-bold-webfont.woff2") format("woff2");
  font-weight: 700; /* para bold */
  font-style: normal;
}

body {
  font-family: "MyFont", sans-serif;
  font-weight: 400;
}

@media (max-width: 920px) {
  .foot-container {
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/*  ---------------------------------CONTENEDOR PRINCIPAL---------------------------------------- */

.flex-container {
  display: flex;
  flex-direction: column;
}

/*  -----------------------------------BARRA DE NAVEGACION --------------------------------------- */

.nav-container {
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: var(--color1);
  padding: 20px 10px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

main {
  margin-top: 80px;
}

.nav-container div {
  padding: 0 20px;
  margin: 0;
}

.nav-container-center a {
  text-decoration: none;
  color: var(--color2);
}

.nav-container-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.nav-container-right {
  display: flex;
  gap: 80px;
}

/*  ---------------------------------------------TITULO NUEVA COLLECION--------------------------- */

.mayuscula-bold {
  font-family: "MyFont", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding-left: 35px;
}

.mayuscula-bold::first-letter {
  font-size: 1.5em;
}

/*  ------------------------------------------------CONTENEDOR NUEVA COLLECION - GRID --------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  justify-content: center;
}

/*  ------------------------------------------------CARD  DE LA NUEVA COLLECION--------------------------- */

.card {
  font-size: 14px;
  display: grid;
  grid-template-areas:
    "image image"
    "name  price";
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  align-items: center;
  max-width: 300px;
  margin-bottom: 50px;
}

.card-image {
  grid-area: image;
  width: 100%;
  display: block;
}

.card-name {
  grid-area: name;
  text-align: left;
  font-weight: 400;
  align-content: center;
}

.card-price {
  grid-area: price;
  text-align: right;
  font-weight: 700;
}

.card-image {
  border-radius: 15px;
}

/*  -------------------------------------------------------FOOTER ---------------------------------------- */

.foot-container {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 30px;
  background-color: var(--color2);
}

.foot-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  color: var(--color1);
}

.foot-left img {
  border-radius: 50%;
  background-color: var(--color1);
  width: 40px;
  height: 40px;
  padding: 9px;
}

.foot-container-leftcenter {
  display: flex;
  align-items: center;
  color: var(--color1);
}
